In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.random.randn(100, 100)
%timeit np.dot(a, a)

60.7 µs ± 1.06 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [3]:
%pwd

'C:\\Users\\ashwi\\Desktop\\Ashwin\\Data_mining_Concepts'

In [4]:
import matplotlib as mpl
%matplotlib inline

In [6]:
def append_element(some_list, element):
    some_list.append(5)
    element = 6
    some_list.append(element)
data = [1, 2, 3]
b= 4
append_element(data, b)
print(b)
print(data)

4
[1, 2, 3, 5, 6]

In [7]:
a = [1,2,3]
b = a
c = [5,6,7,8,9,0,1,2,3,4,5]
a.append(c)
b = "ashwin muthiah"
iter(b)

In [8]:
c = [5,6,7,8,9,0,1,2,3,4,5]
a.append(c)

In [9]:
type(a)

list

In [10]:
d = list(a)

In [11]:
d = list(a)

In [12]:
d is c 
d

[1, 2, 3, [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5], [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5]]

In [13]:
a

[1, 2, 3, [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5], [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5]]

In [14]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [38]:
from datetime import datetime, date, time
dt = datetime(1996,11,5,6,45,2)
dt.strftime("%m/%d/%Y %H/%M")

'11/05/1996 06/45'

In [48]:
dt2 = datetime(2019,3,11,6,45,2)
delta = dt2-dt
delta

datetime.timedelta(days=8161)

In [51]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [1]:
a = 1,2,3

In [6]:
b = tuple([1,2,3])
c="string"

In [3]:
type(a)

tuple

In [7]:
type(b)
print(type(c))

<class 'str'>

In [13]:
c = tuple(c)
type(c)

tuple

In [14]:
a+b

(1, 2, 3, 1, 2, 3)

In [16]:
(a+b)*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [20]:
tup = tuple([1,2,3])
a,b,c = tup

In [21]:
print(a,b,c)

1 2 3

In [28]:
seq = [(1, 2, 3,4), (4, 5, 6,5), (7, 8, 9,6)]
for a,b,*_ in seq:
    print(*_)

3 4
6 5
9 6

In [37]:
x = [1,2,3]
x.append(4)
x.insert(4,5)
x.remove(4)
x.pop(1)
x

[1, 3, 5]

In [6]:
import bisect
a = [1,2,2,3,4,5,6]
bisect.bisect(a,3)
bisect.insort(a,3)
a

[1, 2, 2, 3, 3, 4, 5, 6]

In [17]:
seq = [1,2,3,4,5,6,7,9,0]
seq[7:9] = [8,9]
print(seq)
print(seq[0:4])
print(seq[-8:-6])
print(seq[0:3:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[2, 3]
[1]

In [86]:
mapping = {}
s_list = ['ashwin','muthiah','murugappan']
for i,v in enumerate(s_list):
    mapping[v] = i
    
mapping

{'ashwin': 0, 'muthiah': 1, 'murugappan': 2}

In [87]:
sorts = [4,5,2]
sorts  = sorted(sorts)
f_list = zip(sorts,s_list)
ab = list(f_list)

In [48]:
for (a,b) in zip(sorts,s_list):
    print('{0},{1}'.format(a,b))

2,ashwin
4,muthiah
5,murugappan

In [52]:
a,b = zip(*ab)
print(a)
print(b)

(2, 4, 5)
('ashwin', 'muthiah', 'murugappan')

In [55]:
a = [1,2,3,4,5,6,7,8,9]
b = list(reversed(a))
print (b)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
a = {1:"a",2:"b",3:"c"}
print(a.keys())
print(a.values())
a[4] = "d"
print(a)
print("d" in a.values())
a.pop(1)
print(a)
del a[2]
print(a)

dict_keys([1, 2, 3])
dict_values(['a', 'b', 'c'])
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
True
{2: 'b', 3: 'c', 4: 'd'}
{3: 'c', 4: 'd'}

In [81]:
for (k,v) in ab:
    mapping[k] = v
mapping

{'ashwin': 0,
 'muthiah': 1,
 'murugappan': 2,
 2: 'ashwin',
 4: 'muthiah',
 5: 'murugappan'}

In [88]:
mapping = dict(ab)
mapping

{2: 'ashwin', 4: 'muthiah', 5: 'murugappan'}

In [108]:
m = {1:"a",2:"b",(3,4):"c"}
for k in m:
    print('{0} is the key and {1} is the value'.format(k,m[k]))

1 is the key and a is the value
2 is the key and b is the value
(3, 4) is the key and c is the value

In [112]:
a = {1,2,3,4,4,5,6,7,7,7}
b = {1,2,3,4,5,5,6,6,6,7,7,7,8,9,10,11,12,13,14}
print(a,b)

{1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [117]:
print(a.union(b))
print(a|b)
a.pop()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

{3, 4, 5, 6, 7}

In [122]:
c = a.copy()
c

{3, 4, 5, 6, 7}

In [124]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [125]:
b.issubset(a)

False