In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.random.randn(100, 100)
%timeit np.dot(a, a)

59.9 µs ± 1.63 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [3]:
%pwd

'C:\\Users\\ashwi\\Desktop\\Ashwin\\Data_mining_Concepts'

In [4]:
import matplotlib as mpl
%matplotlib inline

In [5]:
def append_element(some_list, element):
    some_list.append(5)
    element = 6
    some_list.append(element)
data = [1, 2, 3]
b= 4
append_element(data, b)
print(b)
print(data)

4
[1, 2, 3, 5, 6]

In [6]:
a = [1,2,3]
b = a
c = [5,6,7,8,9,0,1,2,3,4,5]
a.append(c)
b = "ashwin muthiah"
iter(b)

In [7]:
c = [5,6,7,8,9,0,1,2,3,4,5]
a.append(c)

In [8]:
type(a)

list

In [9]:
d = list(a)

In [10]:
d = list(a)

In [11]:
d is c 
d

[1, 2, 3, [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5], [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5]]

In [12]:
a

[1, 2, 3, [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5], [5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5]]

In [13]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [14]:
from datetime import datetime, date, time
dt = datetime(1996,11,5,6,45,2)
dt.strftime("%m/%d/%Y %H/%M")

'11/05/1996 06/45'

In [15]:
dt2 = datetime(2019,3,11,6,45,2)
delta = dt2-dt
delta

datetime.timedelta(days=8161)

In [16]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [17]:
a = 1,2,3

In [18]:
b = tuple([1,2,3])
c="string"

In [19]:
type(a)

tuple

In [20]:
type(b)
print(type(c))

<class 'str'>

In [21]:
c = tuple(c)
type(c)

tuple

In [22]:
a+b

(1, 2, 3, 1, 2, 3)

In [23]:
(a+b)*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
tup = tuple([1,2,3])
a,b,c = tup

In [25]:
print(a,b,c)

1 2 3

In [26]:
seq = [(1, 2, 3,4), (4, 5, 6,5), (7, 8, 9,6)]
for a,b,*_ in seq:
    print(*_)

3 4
6 5
9 6

In [27]:
x = [1,2,3]
x.append(4)
x.insert(4,5)
x.remove(4)
x.pop(1)
x

[1, 3, 5]

In [28]:
import bisect
a = [1,2,2,3,4,5,6]
bisect.bisect(a,3)
bisect.insort(a,3)
a

[1, 2, 2, 3, 3, 4, 5, 6]

In [29]:
seq = [1,2,3,4,5,6,7,9,0]
seq[7:9] = [8,9]
print(seq)
print(seq[0:4])
print(seq[-8:-6])
print(seq[0:3:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[2, 3]
[1]

In [30]:
mapping = {}
s_list = ['ashwin','muthiah','murugappan']
for i,v in enumerate(s_list):
    mapping[v] = i
    
mapping

{'ashwin': 0, 'muthiah': 1, 'murugappan': 2}

In [31]:
sorts = [4,5,2]
sorts  = sorted(sorts)
f_list = zip(sorts,s_list)
ab = list(f_list)

In [32]:
for (a,b) in zip(sorts,s_list):
    print('{0},{1}'.format(a,b))

2,ashwin
4,muthiah
5,murugappan

In [33]:
a,b = zip(*ab)
print(a)
print(b)

(2, 4, 5)
('ashwin', 'muthiah', 'murugappan')

In [34]:
a = [1,2,3,4,5,6,7,8,9]
b = list(reversed(a))
print (b)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
a = {1:"a",2:"b",3:"c"}
print(a.keys())
print(a.values())
a[4] = "d"
print(a)
print("d" in a.values())
a.pop(1)
print(a)
del a[2]
print(a)

dict_keys([1, 2, 3])
dict_values(['a', 'b', 'c'])
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
True
{2: 'b', 3: 'c', 4: 'd'}
{3: 'c', 4: 'd'}

In [36]:
for (k,v) in ab:
    mapping[k] = v
mapping

{'ashwin': 0,
 'muthiah': 1,
 'murugappan': 2,
 2: 'ashwin',
 4: 'muthiah',
 5: 'murugappan'}

In [37]:
mapping = dict(ab)
mapping

{2: 'ashwin', 4: 'muthiah', 5: 'murugappan'}

In [38]:
m = {1:"a",2:"b",(3,4):"c"}
for k in m:
    print('{0} is the key and {1} is the value'.format(k,m[k]))

1 is the key and a is the value
2 is the key and b is the value
(3, 4) is the key and c is the value

In [39]:
a = {1,2,3,4,4,5,6,7,7,7}
b = {1,2,3,4,5,5,6,6,6,7,7,7,8,9,10,11,12,13,14}
print(a,b)

{1, 2, 3, 4, 5, 6, 7} {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [40]:
print(a.union(b))
print(a|b)
a.pop()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

1

In [41]:
c = a.copy()
c

{2, 3, 4, 5, 6, 7}

In [42]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [43]:
b.issubset(a)

False

In [44]:
x = []
[x.append(a) for a in s_list if len(a)> 3]
print(x)
y = {a for a in s_list if len(a)> 3}
print(y)

['ashwin', 'muthiah', 'murugappan']
{'ashwin', 'murugappan', 'muthiah'}

In [45]:
loc_mapping = {val : index for index, val in enumerate(s_list)}
loc_mapping

{'ashwin': 0, 'muthiah': 1, 'murugappan': 2}

In [46]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [47]:
name_of_intrerst=[]

In [48]:
for name in all_data:
    for n in name:
        if n.count("e") >=2:
            name_of_intrerst.append(n)
name_of_intrerst

['Steven']

In [49]:
for names in all_data:
    [name_of_intrerst.append(name) for name in names if name.count('e') >= 2]
name_of_intrerst

['Steven', 'Steven']

In [50]:
result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [51]:
[name_of_intrerst.append(name) for names in all_data for name in names if name.count('e') >= 2]
name_of_intrerst

['Steven', 'Steven', 'Steven']

In [52]:
def my_function(a,b,c,d):
    if a>b:
        sum = a+b+c+d
    else:
        sum = a-b-c-d
    return(sum)

In [53]:
my_function(1,2,3,4)

-8

In [54]:
my_function(4,3,2,1)

10

In [55]:
def func():
    global a
    a = []
    for i in [1,2,3,4,5,]:
        a.append(i)
    return(a)

In [56]:
print(a)

{2, 3, 4, 5, 6, 7}

In [57]:
def func():
    for i in range(5):
        global a
        a = []
        a.append(i)

In [58]:
func()

In [59]:
states = ['   Alabama ', 'Georgia!#$%^$%&#$%&', 'Georgia', 'georgia', 'FlOrIda','south   carolina##', 'West virginia?']

In [60]:
import re
def clean(string):
    results = []
    for name in string:
        name = name.strip()
        name = name.title()
        name = re.sub('[!@#$%^&*]',"",name)
        results.append(name)
    return(results)

In [61]:
clean(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia?']

In [79]:
def remove_punctuation(value):
    return re.sub('[!@#$%^?&*]', '', value)
def make_title(value):
    value = value.title()
    return value
def make_strip(value):
    value = value.strip()
    return value

clean_ops = [make_strip, remove_punctuation, make_title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [80]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

## Trying try and except

In [85]:
float("1.233445")

1.233445

In [86]:
float("something")

ValueError: could not convert string to float: 'something'

In [81]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [90]:
def attempt_float1(x):
    try:
        return float(x)
    except ValueError:
        return x

In [91]:
def attempt_float2(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [127]:
path = r"\try.txt"
with open(path) as f:
        lines = f.readlines(1)

In [128]:
lines

["William Shakespeare was the son of John Shakespeare, an alderman and a successful glover (glove-maker) originally from Snitterfield, and Mary Arden, the daughter of an affluent landowning farmer. He was born in Stratford-upon-Avon and baptised there on 26 April 1564. His actual date of birth remains unknown, but is traditionally observed on 23 April, Saint George's Day.This date, which can be traced to a mistake made by an 18th-century scholar, has proved appealing to biographers because Shakespeare died on the same date in 1616.He was the third of eight children, and the eldest surviving son."]