In [1]:
import pandas as pd
import numpy as np

In [6]:
from datetime import datetime

In [19]:
now = datetime.now()
print(now)

2019-03-26 17:54:36.258535

In [35]:
datetime.now().day

26

In [22]:
now1 = datetime.now()
print(now1)

2019-03-26 17:56:09.582971

In [24]:
print(now1 - now)

0:01:33.324436

In [25]:
from datetime import timedelta

In [28]:
now = datetime.now()
print(now)

2019-03-26 18:03:48.396093

In [40]:
now1 = now + timedelta(hours = 1,days = 2)
print(now1)

2019-03-28 19:03:48.396093

In [43]:
now = datetime.now()
print(now)

2019-03-26 18:12:29.010259

In [44]:
str(now)

'2019-03-26 18:12:29.010259'

In [50]:
a = datetime.strftime(now,'%F')
a

'2019-03-26'

In [56]:
b = datetime.strptime(a,'%Y-%m-%d')
print(b)

2019-03-26 00:00:00

In [58]:
datestrs = ['7/6/2011', '8/6/2011']
[print(datetime.strptime(i,'%d/%m/%Y')) for i in datestrs]

2011-06-07 00:00:00
2011-06-08 00:00:00

[None, None]

In [62]:
from dateutil import parser

In [66]:
parser.parse('2010-jan-31',dayfirst=True)

datetime.datetime(2010, 1, 31, 0, 0)

In [67]:
idx = pd.to_datetime(datestrs)

In [69]:
print(idx)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [70]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
   ....:          datetime(2011, 1, 7), datetime(2011, 1, 8),
   ....:          datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [90]:
a = pd.Series(np.random.rand(6),index=dates)
a

2011-01-02    0.639023
2011-01-05    0.129023
2011-01-07    0.883384
2011-01-08    0.983457
2011-01-10    0.114012
2011-01-12    0.848098
dtype: float64

In [91]:
a.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [98]:
a + a[::2]

2011-01-02    3.6
2011-01-05    NaN
2011-01-07    3.6
2011-01-08    NaN
2011-01-10    3.6
2011-01-12    NaN
dtype: float64

In [97]:
a

2011-01-02    1.8
2011-01-05    7.8
2011-01-07    1.8
2011-01-08    7.8
2011-01-10    1.8
2011-01-12    7.8
dtype: float64