# Tuple

In [1]:
tup = (1,2,3)
print(tup)

(1, 2, 3)

In [2]:
tup2 = ((1,2,3),(1,2))
tup2

((1, 2, 3), (1, 2))

In [3]:
a = [1,2,3,4,5]
a = tuple(a)
a

(1, 2, 3, 4, 5)

In [4]:
b = "ashwin"
b = tuple(b)
b[0]

'a'

In [5]:
a = tuple([1,2,[1,2],3,4])
a[2].append(3)
a[2]

[1, 2, 3]

In [6]:
a = (1,2,3)
b = (4,5,6)
c = a+b
type(c*4)
print(c)

(1, 2, 3, 4, 5, 6)

In [7]:
a,b,c,d,e,f = c

In [8]:
a = (1,2,(3,4))

In [9]:
b,c,(d,e) = a

In [10]:
tup = [(1,2,3),(4,5,6),(7,8,9)]

In [11]:
for a,b,c in tup:
    print('1={0}, 2={1}, 3={2} '.format(a,b,c))

1=1, 2=2, 3=3
1=4, 2=5, 3=6
1=7, 2=8, 3=9

In [12]:
len(tup)

3

# List

In [13]:
a = [1,2,3,4,5]

In [14]:
a = list(tup)

In [15]:
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [16]:
a.insert(1,2)

In [17]:
a

[(1, 2, 3), 2, (4, 5, 6), (7, 8, 9)]

In [18]:
a.pop(1)

2

In [19]:
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [20]:
a.remove((1,2,3))

In [21]:
a

[(4, 5, 6), (7, 8, 9)]

In [22]:
a.append((1,2,3))

In [23]:
a

[(4, 5, 6), (7, 8, 9), (1, 2, 3)]

In [24]:
a.append([1,2,3])

In [25]:
a

[(4, 5, 6), (7, 8, 9), (1, 2, 3), [1, 2, 3]]

In [28]:
a.extend([1,2,3])

In [29]:
a

[(4, 5, 6), (7, 8, 9), (1, 2, 3), [1, 2, 3], 1, 2, 3]

In [38]:
a = [(0, 5, 6,12,345,56,67,0,123), (7,6,7, 8, 9), (1, 2, 100)]
a.sort(key = len)

In [39]:
a

[(1, 2, 100), (7, 6, 7, 8, 9), (0, 5, 6, 12, 345, 56, 67, 0, 123)]

In [48]:
list = ["as","sh","hw","wi","in"]

In [49]:
dec = {}
for i,v in enumerate(list):
    dec[v] = i

In [50]:
dec

{'as': 0, 'sh': 1, 'hw': 2, 'wi': 3, 'in': 4}

In [51]:
list.sort()

In [53]:
list

['as', 'hw', 'in', 'sh', 'wi']

In [66]:
 seq1 = ['foo', 'bar', 'baz']

In [67]:
seq2 = ['one', 'two', 'three']

In [68]:
zipped = zip(seq1, seq2)

In [72]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [73]:
dic = {}
for k,v in enumerate(zip(seq1,seq2)):
    dic[k] = v

In [79]:
dic

{0: ('foo', 'one'), 1: ('bar', 'two'), 2: ('baz', 'three')}

In [81]:
for i in dic:
    print(i,dic[i])

0 ('foo', 'one')
1 ('bar', 'two')
2 ('baz', 'three')

In [86]:
value = dic.get(1,('xaz','four'))

In [87]:
value

('bar', 'two')

In [95]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [129]:
name_of_intend = []
a = 'steve'
a.count('e')

2

In [131]:
for names in all_data:
    for name in names:
        if (name.count('e')>=2):
            name_of_intend.append(name)

In [124]:
name_of_intend

['Steven']

In [133]:
for names in all_data:
    [name_of_intend.append(name) for name in names if name.count('e')>=2]

In [126]:
name_of_intend

['Steven', 'Steven']

In [135]:
[name_of_intend.append(name) for names in all_data for name in names if name.count('e')>=2]

[None]

In [136]:
name_of_intend

['Steven', 'Steven', 'Steven']