In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()
print(now)

2019-03-27 08:03:17.221186

In [4]:
datetime.now().day

27

In [5]:
now1 = datetime.now()
print(now1)

2019-03-27 08:03:17.269872

In [6]:
print(now1 - now)

0:00:00.048686

In [7]:
from datetime import timedelta

In [8]:
now = datetime.now()
print(now)

2019-03-27 08:03:17.318204

In [9]:
now1 = now + timedelta(hours = 1,days = 2)
print(now1)

2019-03-29 09:03:17.318204

In [10]:
now = datetime.now()
print(now)

2019-03-27 08:03:17.349464

In [11]:
str(now)

'2019-03-27 08:03:17.349464'

In [12]:
a = datetime.strftime(now,'%F')
a

'2019-03-27'

In [13]:
b = datetime.strptime(a,'%Y-%m-%d')
print(b)

2019-03-27 00:00:00

In [14]:
datestrs = ['7/6/2011', '8/6/2011']
[print(datetime.strptime(i,'%d/%m/%Y')) for i in datestrs]

2011-06-07 00:00:00
2011-06-08 00:00:00

[None, None]

In [15]:
from dateutil import parser

In [16]:
parser.parse('2010-jan-31',dayfirst=True)

datetime.datetime(2010, 1, 31, 0, 0)

In [17]:
idx = pd.to_datetime(datestrs)

In [18]:
print(idx)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [19]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
   ....:          datetime(2011, 1, 7), datetime(2011, 1, 8),
   ....:          datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [20]:
a = pd.Series(np.random.rand(6),index=dates)
a

2011-01-02    0.405435
2011-01-05    0.688232
2011-01-07    0.625690
2011-01-08    0.013900
2011-01-10    0.869726
2011-01-12    0.870795
dtype: float64

In [21]:
a.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [22]:
a + a[::2]

2011-01-02    0.810870
2011-01-05         NaN
2011-01-07    1.251379
2011-01-08         NaN
2011-01-10    1.739453
2011-01-12         NaN
dtype: float64

In [23]:
a

2011-01-02    0.405435
2011-01-05    0.688232
2011-01-07    0.625690
2011-01-08    0.013900
2011-01-10    0.869726
2011-01-12    0.870795
dtype: float64

In [26]:
ts = a.index[0]
a[ts]

0.405435133507387

In [27]:
a['1/10/2011']

0.8697263493832604

In [29]:
a['20110110']

0.8697263493832604

In [30]:
ts_longer = pd.Series(np.random.rand(1000),index=pd.date_range(datetime.now(),periods=1000))

In [51]:
ts_longer[datetime(2020,3,3):].head()

2020-03-03 08:07:24.587131    0.859360
2020-03-04 08:07:24.587131    0.635013
2020-03-05 08:07:24.587131    0.219125
2020-03-06 08:07:24.587131    0.503319
2020-03-07 08:07:24.587131    0.394436
Freq: D, dtype: float64

In [50]:
ts_longer['2019-03-27']

2019-03-27 08:07:24.587131    0.46712
Freq: D, dtype: float64

In [58]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado', 'Texas','New York', 'Ohio'])
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.301037 -0.325106 -0.102119  0.512602
2000-01-12  2.447644  0.671391  0.255324  2.018677
2000-01-19 -1.288993  1.455443  1.517364 -0.186109
2000-01-26  0.659434 -1.543786  1.509367 -0.605558
2000-02-02 -0.576345  1.812183 -0.879455 -0.924951

In [59]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000','1/2/2000', '1/3/2000'])

In [62]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [65]:
dup_ts.index.is_unique

False

In [66]:
dup_ts['1/3/2000']

4

In [67]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [71]:
grouped = dup_ts.groupby(dup_ts.index)

In [72]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [74]:
resampler = a.resample('D')

In [78]:
resampler.count()

2011-01-02    1
2011-01-03    0
2011-01-04    0
2011-01-05    1
2011-01-06    0
2011-01-07    1
2011-01-08    1
2011-01-09    0
2011-01-10    1
2011-01-11    0
2011-01-12    1
Freq: D, dtype: int64

In [80]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='1h20min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:20:00',
               '2000-01-01 02:40:00', '2000-01-01 04:00:00',
               '2000-01-01 05:20:00', '2000-01-01 06:40:00',
               '2000-01-01 08:00:00', '2000-01-01 09:20:00',
               '2000-01-01 10:40:00', '2000-01-01 12:00:00',
               '2000-01-01 13:20:00', '2000-01-01 14:40:00',
               '2000-01-01 16:00:00', '2000-01-01 17:20:00',
               '2000-01-01 18:40:00', '2000-01-01 20:00:00',
               '2000-01-01 21:20:00', '2000-01-01 22:40:00',
               '2000-01-02 00:00:00', '2000-01-02 01:20:00',
               '2000-01-02 02:40:00', '2000-01-02 04:00:00',
               '2000-01-02 05:20:00', '2000-01-02 06:40:00',
               '2000-01-02 08:00:00', '2000-01-02 09:20:00',
               '2000-01-02 10:40:00', '2000-01-02 12:00:00',
               '2000-01-02 13:20:00', '2000-01-02 14:40:00',
               '2000-01-02 16:00:00', '2000-01-02 17:20:00',
               '2000-01-02 18:40:00', '2000-01-02 20:00:00',
               '2000-01-02 21:20:00', '2000-01-02 22:40:00',
               '2000-01-03 00:00:00', '2000-01-03 01:20:00',
               '2000-01-03 02:40:00', '2000-01-03 04:00:00',
               '2000-01-03 05:20:00', '2000-01-03 06:40:00',
               '2000-01-03 08:00:00', '2000-01-03 09:20:00',
               '2000-01-03 10:40:00', '2000-01-03 12:00:00',
               '2000-01-03 13:20:00', '2000-01-03 14:40:00',
               '2000-01-03 16:00:00', '2000-01-03 17:20:00',
               '2000-01-03 18:40:00', '2000-01-03 20:00:00',
               '2000-01-03 21:20:00', '2000-01-03 22:40:00'],
              dtype='datetime64[ns]', freq='80T')

In [86]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='W-FRI')
list(rng)

[Timestamp('2012-01-06 00:00:00', freq='W-FRI'),
 Timestamp('2012-01-13 00:00:00', freq='W-FRI'),
 Timestamp('2012-01-20 00:00:00', freq='W-FRI'),
 Timestamp('2012-01-27 00:00:00', freq='W-FRI'),
 Timestamp('2012-02-03 00:00:00', freq='W-FRI'),
 Timestamp('2012-02-10 00:00:00', freq='W-FRI'),
 Timestamp('2012-02-17 00:00:00', freq='W-FRI'),
 Timestamp('2012-02-24 00:00:00', freq='W-FRI'),
 Timestamp('2012-03-02 00:00:00', freq='W-FRI'),
 Timestamp('2012-03-09 00:00:00', freq='W-FRI'),
 Timestamp('2012-03-16 00:00:00', freq='W-FRI'),
 Timestamp('2012-03-23 00:00:00', freq='W-FRI'),
 Timestamp('2012-03-30 00:00:00', freq='W-FRI'),
 Timestamp('2012-04-06 00:00:00', freq='W-FRI'),
 Timestamp('2012-04-13 00:00:00', freq='W-FRI'),
 Timestamp('2012-04-20 00:00:00', freq='W-FRI'),
 Timestamp('2012-04-27 00:00:00', freq='W-FRI'),
 Timestamp('2012-05-04 00:00:00', freq='W-FRI'),
 Timestamp('2012-05-11 00:00:00', freq='W-FRI'),
 Timestamp('2012-05-18 00:00:00', freq='W-FRI'),
 Timestamp('2012-05-25 00:00:00', freq='W-FRI'),
 Timestamp('2012-06-01 00:00:00', freq='W-FRI'),
 Timestamp('2012-06-08 00:00:00', freq='W-FRI'),
 Timestamp('2012-06-15 00:00:00', freq='W-FRI'),
 Timestamp('2012-06-22 00:00:00', freq='W-FRI'),
 Timestamp('2012-06-29 00:00:00', freq='W-FRI'),
 Timestamp('2012-07-06 00:00:00', freq='W-FRI'),
 Timestamp('2012-07-13 00:00:00', freq='W-FRI'),
 Timestamp('2012-07-20 00:00:00', freq='W-FRI'),
 Timestamp('2012-07-27 00:00:00', freq='W-FRI'),
 Timestamp('2012-08-03 00:00:00', freq='W-FRI'),
 Timestamp('2012-08-10 00:00:00', freq='W-FRI'),
 Timestamp('2012-08-17 00:00:00', freq='W-FRI'),
 Timestamp('2012-08-24 00:00:00', freq='W-FRI'),
 Timestamp('2012-08-31 00:00:00', freq='W-FRI')]

In [88]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -1.055045
2000-02-29   -1.972768
2000-03-31   -0.509073
2000-04-30   -0.077279
Freq: M, dtype: float64

In [89]:
ts.shift(1)

2000-01-31         NaN
2000-02-29   -1.055045
2000-03-31   -1.972768
2000-04-30   -0.509073
Freq: M, dtype: float64

In [90]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    0.869842
2000-03-31   -0.741950
2000-04-30   -0.848197
Freq: M, dtype: float64

In [99]:
ts.shift(-2,freq='D')

2000-01-29   -1.055045
2000-02-27   -1.972768
2000-03-29   -0.509073
2000-04-28   -0.077279
dtype: float64

In [109]:
from pandas.tseries.offsets import Day,MonthEnd,MonthBegin

In [102]:
now = datetime.now()

In [103]:
now

datetime.datetime(2019, 3, 27, 9, 34, 57, 185849)

In [104]:
now + 2*Day()

Timestamp('2019-03-29 09:34:57.185849')

In [111]:
now + MonthEnd(-2)

Timestamp('2019-01-31 09:34:57.185849')

In [110]:
now + MonthBegin(2)

Timestamp('2019-05-01 09:34:57.185849')

In [122]:
ts = pd.Series(np.random.randn(20),
   .....:                index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -1.258590
2000-01-19   -0.318839
2000-01-23   -2.140353
2000-01-27   -0.345078
2000-01-31   -0.506521
2000-02-04   -0.569904
2000-02-08   -0.522842
2000-02-12    0.809305
2000-02-16   -0.207872
2000-02-20   -1.378127
2000-02-24   -3.156559
2000-02-28   -2.857699
2000-03-03   -0.431011
2000-03-07   -1.674147
2000-03-11    0.728660
2000-03-15    1.043189
2000-03-19    1.333059
2000-03-23   -1.885606
2000-03-27   -2.047669
2000-03-31    0.066910
Freq: 4D, dtype: float64

In [125]:
offset = MonthEnd(-1)
ts.groupby(ts.index + MonthBegin()).mean()

2000-02-01   -0.913876
2000-03-01   -1.126243
2000-04-01   -0.358327
Freq: 4D, dtype: float64

In [126]:
import pytz

In [131]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [135]:
pytz.timezone('America/New_York')

In [141]:
now = datetime.now()
now

datetime.datetime(2019, 3, 27, 9, 52, 16, 633834)

In [142]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2012-03-09 09:30:00    0.123770
2012-03-10 09:30:00    0.276040
2012-03-11 09:30:00   -1.256460
2012-03-12 09:30:00    0.210626
2012-03-13 09:30:00   -0.934427
2012-03-14 09:30:00   -0.459064
Freq: D, dtype: float64

In [146]:
print(ts.index.tz)

None

In [150]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    0.123770
2012-03-10 09:30:00+00:00    0.276040
2012-03-11 09:30:00+00:00   -1.256460
2012-03-12 09:30:00+00:00    0.210626
2012-03-13 09:30:00+00:00   -0.934427
2012-03-14 09:30:00+00:00   -0.459064
Freq: D, dtype: float64

In [152]:
ts_ny = ts_utc.tz_convert('America/New_York')
ts_ny

2012-03-09 04:30:00-05:00    0.123770
2012-03-10 04:30:00-05:00    0.276040
2012-03-11 05:30:00-04:00   -1.256460
2012-03-12 05:30:00-04:00    0.210626
2012-03-13 05:30:00-04:00   -0.934427
2012-03-14 05:30:00-04:00   -0.459064
Freq: D, dtype: float64

In [153]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00   -1.387859
2012-03-08 09:30:00   -0.758484
2012-03-09 09:30:00   -0.895836
2012-03-12 09:30:00    2.183737
2012-03-13 09:30:00   -0.812105
2012-03-14 09:30:00   -0.152980
2012-03-15 09:30:00   -0.301219
2012-03-16 09:30:00    0.029458
2012-03-19 09:30:00   -1.575435
2012-03-20 09:30:00   -0.118900
Freq: B, dtype: float64

In [155]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2012-03-07 09:30:00+00:00   -1.387859
2012-03-08 09:30:00+00:00   -0.758484
2012-03-09 09:30:00+00:00   -0.895836
2012-03-12 09:30:00+00:00    2.183737
2012-03-13 09:30:00+00:00   -0.812105
2012-03-14 09:30:00+00:00   -0.152980
2012-03-15 09:30:00+00:00   -0.301219
Freq: B, dtype: float64

In [157]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00   -0.895836
2012-03-12 13:30:00+04:00    2.183737
2012-03-13 13:30:00+04:00   -0.812105
2012-03-14 13:30:00+04:00   -0.152980
2012-03-15 13:30:00+04:00   -0.301219
Freq: B, dtype: float64

In [159]:
result = ts1+ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -1.791671
2012-03-12 09:30:00+00:00    4.367474
2012-03-13 09:30:00+00:00   -1.624211
2012-03-14 09:30:00+00:00   -0.305960
2012-03-15 09:30:00+00:00   -0.602438
Freq: B, dtype: float64

In [168]:
rng = pd.period_range('2000-01-01', '2001-06-30', freq='m')

In [169]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
             '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12',
             '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06'],
            dtype='period[M]', freq='M')

In [176]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [177]:
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31    0.132763
2000-02-29    0.810878
2000-03-31   -0.661469
Freq: M, dtype: float64

In [188]:
a = ts.to_period('Q-JAN')
a

2000Q4    0.132763
2001Q1    0.810878
2001Q1   -0.661469
Freq: Q-JAN, dtype: float64

In [189]:
a.to_timestamp(how='start')

1999-11-01    0.132763
2000-02-01    0.810878
2000-02-01   -0.661469
dtype: float64

In [198]:
ts = pd.Series(np.random.rand(5),index=pd.date_range('2010-01-27',periods=5,freq='Q-JAN'))
ts = ts.to_period('Q-JAN')
ts

2010Q4    0.868237
2011Q1    0.045752
2011Q2    0.842283
2011Q3    0.741953
2011Q4    0.076020
Freq: Q-JAN, dtype: float64

In [200]:
ts.to_timestamp()

2009-11-01    0.868237
2010-02-01    0.045752
2010-05-01    0.842283
2010-08-01    0.741953
2010-11-01    0.076020
Freq: QS-NOV, dtype: float64

In [201]:
data = pd.read_csv(r'C:\Users\ashwi\Desktop\Ashwin\pydata-book\examples/macrodata.csv')

In [203]:
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [204]:
data.year.head()

0    1959.0
1    1959.0
2    1959.0
3    1959.0
4    1960.0
Name: year, dtype: float64

In [205]:
data.quarter.head()

0    1.0
1    2.0
2    3.0
3    4.0
4    1.0
Name: quarter, dtype: float64

In [227]:
index = pd.PeriodIndex(year = data.year , month = data.quarter,freq = 'm')

In [228]:
index

PeriodIndex(['1959-01', '1959-02', '1959-03', '1959-04', '1960-01', '1960-02',
             '1960-03', '1960-04', '1961-01', '1961-02',
             ...
             '2007-02', '2007-03', '2007-04', '2008-01', '2008-02', '2008-03',
             '2008-04', '2009-01', '2009-02', '2009-03'],
            dtype='period[M]', length=203, freq='M')

In [229]:
data.index = index

In [230]:
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959-01,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959-02,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959-03,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959-04,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960-01,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
1960-02,1960.0,2.0,2834.390,1792.9,298.152,460.400,1966.1,29.550,140.2,2.68,5.2,180.671,0.14,2.55
1960-03,1960.0,3.0,2839.022,1785.8,296.375,474.676,1967.8,29.750,140.9,2.36,5.6,181.528,2.70,-0.34
1960-04,1960.0,4.0,2802.616,1788.2,259.764,476.434,1966.6,29.840,141.1,2.29,6.3,182.287,1.21,1.08
1961-01,1961.0,1.0,2819.264,1787.7,266.405,475.854,1984.5,29.810,142.1,2.37,6.8,182.992,-0.40,2.77
1961-02,1961.0,2.0,2872.005,1814.3,286.246,480.328,2014.4,29.920,142.9,2.29,7.0,183.691,1.47,0.81
1961-03,1961.0,3.0,2918.419,1823.1,310.227,493.828,2041.9,29.980,144.1,2.32,6.8,184.524,0.80,1.52
1961-04,1961.0,4.0,2977.830,1859.6,315.463,502.521,2082.0,30.040,145.2,2.60,6.2,185.242,0.80,1.80
1962-01,1962.0,1.0,3031.241,1879.4,334.271,520.960,2101.7,30.210,146.4,2.73,5.6,185.874,2.26,0.47
1962-02,1962.0,2.0,3064.709,1902.5,331.039,523.066,2125.2,30.220,146.5,2.78,5.5,186.538,0.13,2.65
1962-03,1962.0,3.0,3093.047,1917.9,336.962,538.838,2137.0,30.380,146.7,2.78,5.6,187.323,2.11,0.67
1962-04,1962.0,4.0,3100.563,1945.1,325.650,535.912,2154.6,30.440,148.3,2.87,5.5,188.013,0.79,2.08
1963-01,1963.0,1.0,3141.087,1958.2,343.721,522.917,2172.5,30.480,149.7,2.90,5.8,188.580,0.53,2.38
1963-02,1963.0,2.0,3180.447,1976.9,348.730,518.108,2193.1,30.690,151.3,3.03,5.7,189.242,2.75,0.29
1963-03,1963.0,3.0,3240.332,2003.8,360.102,546.893,2217.9,30.750,152.6,3.38,5.5,190.028,0.78,2.60
1963-04,1963.0,4.0,3264.967,2020.6,364.534,532.383,2254.6,30.940,153.7,3.52,5.6,190.668,2.46,1.06
1964-01,1964.0,1.0,3338.246,2060.5,379.523,529.686,2299.6,30.950,154.8,3.51,5.5,191.245,0.13,3.38
1964-02,1964.0,2.0,3376.587,2096.7,377.778,526.175,2362.1,31.020,156.8,3.47,5.2,191.889,0.90,2.57
1964-03,1964.0,3.0,3422.469,2135.2,386.754,522.008,2392.7,31.120,159.2,3.53,5.0,192.631,1.29,2.25
1964-04,1964.0,4.0,3431.957,2141.2,389.910,514.603,2420.4,31.280,160.7,3.76,5.0,193.223,2.05,1.71
1965-01,1965.0,1.0,3516.251,2188.8,429.145,508.006,2447.4,31.380,162.0,3.93,4.9,193.709,1.28,2.65
1965-02,1965.0,2.0,3563.960,2213.0,429.119,508.931,2474.5,31.580,163.1,3.84,4.7,194.303,2.54,1.30
1965-03,1965.0,3.0,3636.285,2251.0,444.444,529.446,2542.6,31.650,166.0,3.93,4.4,194.997,0.89,3.04
1965-04,1965.0,4.0,3724.014,2314.3,446.493,544.121,2594.1,31.880,169.1,4.35,4.1,195.539,2.90,1.46
1966-01,1966.0,1.0,3815.423,2348.5,484.244,556.593,2618.4,32.280,171.8,4.62,3.9,195.999,4.99,-0.37
1966-02,1966.0,2.0,3828.124,2354.5,475.408,571.371,2624.7,32.450,170.3,4.65,3.8,196.560,2.10,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002-02,2002.0,2.0,11538.770,7997.8,1810.779,774.408,8658.9,180.000,1199.5,1.70,5.8,288.028,1.56,0.14
2002-03,2002.0,3.0,11596.430,8052.0,1814.531,786.673,8629.2,181.200,1204.0,1.61,5.7,288.783,2.66,-1.05
2002-04,2002.0,4.0,11598.824,8080.6,1813.219,799.967,8649.6,182.600,1226.8,1.20,5.8,289.421,3.08,-1.88
2003-01,2003.0,1.0,11645.819,8122.3,1813.141,800.196,8681.3,183.200,1248.4,1.14,5.9,290.019,1.31,-0.17
2003-02,2003.0,2.0,11738.706,8197.8,1823.698,838.775,8812.5,183.700,1287.9,0.96,6.2,290.704,1.09,-0.13
2003-03,2003.0,3.0,11935.461,8312.1,1889.883,839.598,8935.4,184.900,1297.3,0.94,6.1,291.449,2.60,-1.67
2003-04,2003.0,4.0,12042.817,8358.0,1959.783,845.722,8986.4,186.300,1306.1,0.90,5.8,292.057,3.02,-2.11
2004-01,2004.0,1.0,12127.623,8437.6,1970.015,856.570,9025.9,187.400,1332.1,0.94,5.7,292.635,2.35,-1.42
2004-02,2004.0,2.0,12213.818,8483.2,2055.580,861.440,9115.0,189.100,1340.5,1.21,5.6,293.310,3.61,-2.41
2004-03,2004.0,3.0,12303.533,8555.8,2082.231,876.385,9175.9,190.800,1361.0,1.63,5.4,294.066,3.58,-1.95
2004-04,2004.0,4.0,12410.282,8654.2,2125.152,865.596,9303.4,191.800,1366.6,2.20,5.4,294.741,2.09,0.11
2005-01,2005.0,1.0,12534.113,8719.0,2170.299,869.204,9189.6,193.800,1357.8,2.69,5.3,295.308,4.15,-1.46
2005-02,2005.0,2.0,12587.535,8802.9,2131.468,870.044,9253.0,194.700,1366.6,3.01,5.1,295.994,1.85,1.16
2005-03,2005.0,3.0,12683.153,8865.6,2154.949,890.394,9308.0,199.200,1375.0,3.52,5.0,296.770,9.14,-5.62
2005-04,2005.0,4.0,12748.699,8888.5,2232.193,875.557,9358.7,199.400,1380.6,4.00,4.9,297.435,0.40,3.60
2006-01,2006.0,1.0,12915.938,8986.6,2264.721,900.511,9533.8,200.700,1380.5,4.51,4.7,298.061,2.60,1.91
2006-02,2006.0,2.0,12962.462,9035.0,2261.247,892.839,9617.3,202.700,1369.2,4.82,4.7,298.766,3.97,0.85
2006-03,2006.0,3.0,12965.916,9090.7,2229.636,892.002,9662.5,201.900,1369.4,4.90,4.7,299.593,-1.58,6.48
2006-04,2006.0,4.0,13060.679,9181.6,2165.966,894.404,9788.8,203.574,1373.6,4.92,4.4,300.320,3.30,1.62
2007-01,2007.0,1.0,13099.901,9265.1,2132.609,882.766,9830.2,205.920,1379.7,4.95,4.5,300.977,4.58,0.36
2007-02,2007.0,2.0,13203.977,9291.5,2162.214,898.713,9842.7,207.338,1370.0,4.72,4.5,301.714,2.75,1.97
2007-03,2007.0,3.0,13321.109,9335.6,2166.491,918.983,9883.9,209.133,1379.2,4.00,4.7,302.509,3.45,0.55
2007-04,2007.0,4.0,13391.249,9363.6,2123.426,925.110,9886.2,212.495,1377.4,3.01,4.8,303.204,6.38,-3.37
2008-01,2008.0,1.0,13366.865,9349.6,2082.886,943.372,9826.8,213.997,1384.0,1.56,4.9,303.803,2.82,-1.26
2008-02,2008.0,2.0,13415.266,9351.0,2026.518,961.280,10059.0,218.610,1409.3,1.74,5.4,304.483,8.53,-6.79
2008-03,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008-04,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009-01,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009-02,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009-03,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44